      {
<template lang="pug">
.container
  .row
    .col-lg-2
    .col-lg-8
      .card
        .row.m-1
          .col-lg-12
            img.rounded-circle(src="~assets/me2.jpg" alt="Derek Johnston")
          .col-lg-12.pt-5
            h2 Derek Johnston
            h6
              |  Software Developer
            //- h6
            //-   span.fa.fa-mobile(data-toggle="tooltip" title="905.926.8279") 
            //-   |  1.905.926.8279
            //- h6 
            //-   span.fa.fa-map-marker(data-toggle="tooltip" title="Ontatio, Canada")
            //-   |  Durham Region, Ontatio, Canada
            h6
              a(href="mailto:Derek@DerekJohnston.ca") 
                span.fa.fa-envelope(data-toggle="tooltip" title="Derek@DerekJohnston.ca")
                |  Derek@DerekJohnston.ca
</template>

<style scoped>
a {
  color: black;
}
.successful-server-response-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.successful-server-response {
  text-align: center;
  max-width: 500px;
  font-size: 36px;
  background-color: #5cb85c;
  color: #f1f1f1;
  padding: 20px;
  border-radius: 3px;
}
</style>
